PORT=3001
NODE_ENV=development

DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=Clarityhitman47!
DB_NAME=XSPLocal

CORS_ORIGINS=http://localhost:5173

ANALYTICS_ENABLED=true
ANALYTICS_LOG_LEVEL=info
